body {
  /* font-family: 'Dancing Script', cursive; */
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18;
  line-height: 1.5;
  }

  .container{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
  }

  .distance {
    margin-top: 80px;
  }

  h2 {
    font-size: 4rem;
    font-weight: 400;
  }